<?xml version="1.0"?>
<!--
Web.config file for Oocx.ACME.IIS.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension="." />
      <mimeMap fileExtension="." mimeType="application/jose+json" />
    </staticContent>
  </system.webServer>
</configuration>
